@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700i|Sintony');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');
/* CSS Document */ 

/* ==================================================
	웹 폰트
================================================== */
html, body {
	font-size-adjust:none; 
	-webkit-font-size-adjust:none;
	-o-font-size-adjust:none;
	-moz-font-size-adjust:none;
	position:relative;
	/*zoom:0.92;*/
}
.rale {font-family:'Raleway','Noto Sans KR', sans-serif; font-weight:400;}
.rale-bold {font-family:'Raleway','Noto Sans KR', sans-serif; font-weight:700;}
.rale-exbold {font-family:'Raleway', 'Noto Sans KR', sans-serif; font-weight:800;}

/* ==================================================
	반응형
================================================== */
.showPc{display:block;}
.showTa{display:none;}
.showMo{display:none;}
.showTaMo{display:none;}

@media screen and (max-width:1300px){
}
@media screen and (max-width:1024px){
	.showPc{display:none;}
	.showTa{display:block;}
	.showMo{display:none;}
	.showTaMo{display:block;}
 
}

@media screen and (max-width:640px) {
	.pcArea{display:none ;}
	.showPc{display:none;}
	.showTa{display:none;}
	.showMo{display:block;}
	.showTaMo{display:block;}
	
}


/* ==================================================
	공통레이아웃
================================================== */
#header, #footer {width:100%;}
.size {width:100%; max-width:1280px; height:auto; margin:0 auto; }
.inner {width:100%; box-sizing:border-box; }
.wrapper {width:100%; position:relative; overflow:hidden; margin:0 auto; min-height:600px;}

/* ==================================================
	header
================================================== */






.head_top {width:100%; position:relative; padding:25px 0;}
.head_top .size {position:relative; text-align:center; }
.head_top .size .logo {display:inline-block;height:100px; line-height:50px;}
.head_top .size .logo a {display:block; line-height:50px;}
.head_top .size .logo a img {vertical-align:middle; margin-top:-8px; width:400px; height:100px;}
.head_top .size .login_info {
	width: 300px;
	position: absolute;
    display: none;
    top: 50px;
    right: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 6px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 6px rgba(0,0,0,0.5);
    background-color: #fff;
    z-index: 1000; 
}
.head_top .size .login_info .top_area {height:30px; text-align:right; padding-right:10px;}
.head_top .size .login_info .title_area {height:30px; text-align:left; }
.head_top .size .login_info .title_area span {color:#000000; padding-left:10px; font-size:15px;}
.head_top .size .login_info .middle_area {text-align:center;}
.head_top .size .login_info .bottom_area {padding-bottom:30px; text-align:left; padding-left:10px; clear:both;}
.head_top .size .login_info .middle_area .input_area {text-align:center; padding-right:10px; width:200px; float:left; height:70px;}
.head_top .size .login_info .middle_area .input_area input[type=text]{margin-bottom:6px;}
.head_top .size .login_info .middle_area .login_btn input[type=submit]{
	background: #351f66;
    color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
.head_top .size .login_info .middle_area .login_btn {
	text-align:center;
	float:left;
    width: 70px;
    height: 70px;
    top: 25px;
}
.head_top .size .util {position:absolute; right:0; top:50%; margin-top:-15px;   }
.head_top .size .util a {display:block; float:left; padding:0 10px; position:relative; height:30px; line-height:30px; color:rgba(102,103,104,.75); font-size:16px;  font-weight:300;}
 _:-ms-input-placeholder, :root .head_top .size .util a {font-size:15px;}
.head_top .size .util a.last {padding-right:0;}
.head_top .size .util a:before {position:absolute; width:1px; height:8px; background:#cacaca; top:50%; margin-top:-4px; left:-.5px; clear:both; content:''; display:block; }
.head_top .size .util a:first-child {padding-left:0;}
.head_top .size .util a:first-child:before {display:none; }

.head_bot {width:100%; box-sizing:border-box; border-top:1px solid #dadada; border-bottom:1px solid #dadada;}
.head_bot .gnb {width:100%; position:relative;}
.head_bot .depth1 > li {float:left; width:25%; position:relative; }
.head_bot .depth1 > li > a {display:block; height:48px; line-height:46px; text-align:center; color:#000000; font-size:18px; box-sizing:border-box; border-right:1px solid #dadada; transition:all .3s; -webkit-transition:all .3s; font-weight:500;}
 _:-ms-input-placeholder, :root .head_bot .depth1 > li > a {font-size:16px; font-weight:600;}

.head_bot .depth1 > li:first-child > a {border-left:1px solid #dadada; }
.head_bot .depth1 > li > a.on, .head_bot .depth1 > li > a:hover, .head_bot .depth1 > li > a.active {background:#351f66; color:#fff; }
.head_bot .depth2 { display:none; position:absolute; width:100%; left:0;box-shadow:2px 2px 2px rgba(0,0,0,.2);background:rgba(255,255,255,.95); padding-bottom:20px; z-index:10;}
.head_bot .depth2 > li > a { display:block; text-align:center; height:45px; line-height:45px; color:#2f3134; font-size:16px; transition:all .2s; -webkit-transition:all .2s; letter-spacing:-.5px;}
 _:-ms-input-placeholder, :root .head_bot .depth2 > li > a {font-size:15px; letter-spacing:-.5px;}
.head_bot .depth2 > li > a:hover, .head_bot .depth2 > li > a.active {background:#351f66; color:#fff; font-weight:500; }




.header_call {position:absolute; left:0; top:50%; margin-top:-44px;}
/*.header_call a {padding:10px 25px 10px 55px; border-radius:50px; background:#1d7ab3 url('/img/header_call.png') no-repeat 25px center; color:#fff; font-size:20px; font-weight:500; background-size:20px;}*/
.header_call .txt {padding-left:65px; padding-top:20px; padding-bottom:20px;  box-sizing:border-box; background:url('/img/foot_img01.png') no-repeat 0 center; line-height:24px; background-size:54px;}
.header_call .txt a {display:block; text-align:left; color:#1d7ab3; font-size:18px; font-weight:500;}

/* ==================================================
	footer
================================================== */
.foot_info {width:100%; height:280px; background:#f4f4f5; border-top:1px solid #e0e0e1;}
.foot_info .size { height:100%;}
.foot_info .info_wrap { height:100%;}
.foot_info .infos {float:left; width:33.3333%; padding:45px 15px 50px 25px; box-sizing:border-box; border-left:1px solid #e0e0e1; height:100%;}
.foot_info .info1 {border-left:0; padding-left:0; }
.foot_info .infos strong {display:block; font-size:20px; color:#2f3134; padding-bottom:10px;}
.foot_info .info1 .txt {padding-left:75px; padding-top:5px; padding-bottom:30px;  box-sizing:border-box; background:url('/img/foot_img01.png') no-repeat 0 5px; }
.foot_info .info1 .txt a {color:#1d7ab3; font-size:18px; font-weight:600; display:block; }
.foot_info .info1 > a {display:block; width:200px; height:48px; line-height:48px; text-align:center; color:#fff; background:#2f3134; font-size:18px; font-weight:600; }
.foot_info .infos .imgs {width:290px; height:60px; border:1px solid #dadada; box-sizing:border-box; margin-top:10px; background-repeat:no-repeat; background-position:center center;}
.foot_info .info2 .imgs {background-image:url('/img/foot_img02.png');}
.foot_info .info3 .imgs {background-image:url('/img/foot_img03.png');}
.foot_info .infos .txt2 {margin-top:20px;}
.foot_info .infos .txt2 p {color:#525457; font-size:16px; font-weight:300; position:relative; padding-left:75px; box-sizing:border-box; }
.foot_info .infos .txt2 p span {display:block; position:absolute; left:0; }
.foot_info .infos .txt2 p b {font-weight:500;}


.foot_info .info3 .imgs > a {padding:30px 50px !important; display:block;}

#footer {background:#2f3134; width:100%; color:#fff; padding:25px 0 ; clear:both;}
#footer .footer_logo {width:400px; height:100px;}
#footer .size {position:relative;}
#footer .util {position:absolute; top:0; right:0; z-index:2;}
#footer .util a {display:inline-block; padding:0 10px; position:relative; font-size:16px; font-weight:300; }
#footer .util a:first-child {padding-left:0; }
#footer .util a.last {padding-right:0;}
#footer .util a:before {position:absolute; top:50%; width:1px; height:7px; margin-top:-3.5px; left:-.5px; background:#fff; clear:both; content:''; display:block; }
#footer .util a:first-child:before {display:none; }
#footer .info {width:100%; position:relative;}
#footer .info strong {font-weight:600; font-size:20px; display:block;}
#footer .info .address {width:100%; }
#footer .info .address p {overflow:hidden; font-size:16px; font-weight:400; line-height:24px; letter-spacing:-.5px;}
#footer .info .address p span {display:block; float:left; margin-left:10px; }
#footer .info .address p span a {display:inline-block;}
#footer .info .address p span:first-child {margin-left:0; }
#footer .copy {color:rgba(255,255,255,.5); font-size:16px; font-weight:300; padding-top:10px; padding-bottom:5px;}


/* ==================================================
	quick
================================================== */
#quick{position:fixed;  /*margin-top:-280px;*/ top:170px; /*right:0;*/ left:50%; margin-left:-830px; z-index:999;}
#quick li{margin-bottom:0px; box-shadow:1px 1px 5px rgba(0, 0, 0, .4);}
#quick li a{background:#00172b; color:#fff; font-weight:300; font-size:16px; line-height:22px; vertical-align:middle; min-height:40px; text-align:left; display:block;}
#quick li a span{font-size:18px; font-weight:500; line-height:-.5px;}
#quick li a span.y{color:#f1b500;}
#quick li .fixed_banner_con{color:#fff; font-size:15px; font-weight:300; letter-spacing:-.5px; line-height:18px; padding:25px 15px 20px; }
#quick li .fixed_banner_btn a{padding:20px 0 20px 20px;}

#quick li.print_more{margin-bottom:15px;}

#quick li.print_more .fixed_banner_con{background:url(/img/print_bg.png); text-align:center;}
#quick li.bookmark .fixed_banner_con{background:url(/img/bookmark_bg.png); text-align:center; color:#bcbcbd;}

#quick li.print_more .fixed_banner_btn a{background:#065ebe url(/img/print_more.png) no-repeat 120px center;}
#quick li.bookmark .fixed_banner_btn a{background:#262728 url(/img/bookmark.png) no-repeat 70px bottom;}

@media(max-width:1600px){
	#quick{left:0; margin-left:0; }
}
@media(max-width:1300px){
	#quick li a{font-size:12px; line-height:16px;}
	#quick li a span{font-size:14px;}
	#quick li .fixed_banner_con{font-size:12px; padding:15px 10px 10px; line-height:16px;}
	#quick li .fixed_banner_btn a{padding:10px 0 10px 10px;}
	#quick li .fixed_banner_con img{width:100px;}
	
	#quick li.print_more .fixed_banner_btn a{background:#065ebe url(/img/print_more.png) no-repeat 90px center; background-size:auto 30px;}
	#quick li.bookmark .fixed_banner_btn a{background:#262728 url(/img/bookmark.png) no-repeat 50px bottom;  background-size:auto 50px;}
}


/* ==================================================
	skip
================================================== */
a.skip{display:block;position:absolute;top:-1px;z-index:999;width:0;height:0;overflow:hidden;text-align:center}
a.skip:active,a.skip:focus{z-index:999;width:100%;height:auto;padding:5px;background:#FFF}


.gnb li a {transition:all .3s ease; -webkit-transition:all .3s ease; -ms-transition:all .3s ease; -moz-transition:all .3s ease; -o-transition:all .3s ease;}

h2{margin:0 0 10px 0;}
input[type=button] {cursor:pointer !important;}
.cp{cursor:pointer !important;}



.wid10{width:10%;}
.wid20{width:20%;}
.wid30{width:30%;}
.wid40{width:40%;}
.wid50{width:50%;}
.wid60{width:60%;}
.wid70{width:70%;}
.wid80{width:80%;}
.wid90{width:90%;}
.wid100 {width:100%;}

.max100 {max-width:100px;}
.max150 {max-width:150px;}
.max200 {max-width:200px;}
.max250 {max-width:250px;}
.max300 {max-width:300px;}
.max350 {max-width:350px;}
.max400 {max-width:400px;}
.max450 {max-width:450px;}
.max500 {max-width:500px;}
.max550 {max-width:550px;}
.max600 {max-width:600px;}
.max650 {max-width:650px;}
.max700 {max-width:700px;}
.max750 {max-width:750px;}
.max800 {max-width:800px;}
.max850 {max-width:850px;}
.max900 {max-width:900px;}
.max950 {max-width:950px;}
.max1000 {max-width:1000px;}

.mt0 {margin-top:0px !important;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mt80{margin-top:80px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}

.mb0 {margin-bottom:0px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}
.mb70 {margin-bottom:70px !important;}

.ml0 {margin-left:0px !important;}
.ml10 {margin-left:10px !important;}
.ml20 {margin-left:20px !important;}
.ml30 {margin-left:30px !important;}
.ml40 {margin-left:40px !important;}
.ml50 {margin-left:50px !important;}

.mr0 {margin-right:0px !important;}
.mr10 {margin-right:10px !important;}
.mr20 {margin-right:20px !important;}
.mr30 {margin-right:30px !important;}
.mr40 {margin-right:40px !important;}
.mr50 {margin-right:50px !important;}

.pt10 {padding-top:10px !important;}
.pt20 {padding-top:20px !important;}
.pt30 {padding-top:30px !important;}
.pt40 {padding-top:40px !important;}
.pt50 {padding-top:50px !important;}
.pt60 {padding-top:60px !important;}
.pt70 {padding-top:70px !important;}
.pb10 {padding-bottom:10px !important;}
.pb20 {padding-bottom:20px !important;}
.pb30 {padding-bottom:30px !important;}
.pb40 {padding-bottom:40px !important;}
.pb50 {padding-bottom:50px !important;}
.pb60 {padding-bottom:60px !important;}
.pb70 {padding-bottom:70px !important;}


.auto {margin-left:auto !important; margin-right:auto !important;}
.bno{border:none !important;}
.blind{position:absolute; top:-999999px; width:0; height:0; font-size:0; overflow:hidden;}
.clear{clear:both;}
.clear:after {clear:both;content:'';display:block;}
.hidden {text-indent:-9999px; width:0px; height:0px; line-height:0px; font-size:0px; opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); overflow:hidden; visibility:hidden;}
.tb {display:table; height:100%; width:100%;}
.tbc {display:table-cell; vertical-align:middle;}

.fl_l{float:left !important;}
.fl_r{float:right !important;}
.txt_l{text-align:left !important;}
.txt_c{text-align:center !important;}
.txt_r{text-align:right !important;}
.ver_t{vertical-align:top !important;}
.txt_b{font-weight:bold !important;}
.txt_ul{text-decoration:underline !important;}

.wbreak{word-break:break-all !important;}

.disTbl {display:table;}
.disTbl_c {display:table-cell; vertical-align:middle; }
/* Position */

.Abs {position:absolute;}
.Fix {position:fixed;}
.Abs_lt {position:absolute; top:0; left:0;}
.Abs_rt {position:absolute; top:0; right:0; }
.Abs_lb {position:absolute; bottom:0; left:0; }
.Abs_rb {position:absolute; bottom:0; right:0; }
.Abs_cc {position:absolute; left:50%; top:50%; }
.Abs_lc {position:absolute; left:0; top:50%;}
.Abs_rc {position:absolute; right:0; top:50%; }
.Fix_lt {position:fixed; top:0; left:0; }
.Fix_rt {position:fixed; top:0; right:0; }
.Fix_lb {position:fixed; bottom:0; left:0; }
.Fix_rb {position:fixed; bottom:0; right:0; }
.Fix_cc {position:fixed; left:50%; top:50%; }
.Fix_lc {position:fixed; left:0; top:50%;}
.Fix_rc {position:fixed; right:0; top:50%; }


/* Font */

.ft12 {font-size:12px !important;}
.ft13 {font-size:13px !important;}
.ft14 {font-size:14px !important;}
.ft15 {font-size:15px !important;}
.ft16 {font-size:16px !important;}
.ft17 {font-size:17px !important;}
.ft18 {font-size:18px !important;}
.ft19 {font-size:19px !important;}
.ft20 {font-size:20px !important;}
.ft21 {font-size:21px !important;}
.ft22 {font-size:22px !important;}
.ft23 {font-size:23px !important;}
.ft24 {font-size:24px !important;}
.ft25 {font-size:25px !important;}
.ft26 {font-size:26px !important;}
.ft27 {font-size:27px !important;}
.ft28 {font-size:28px !important;}
.ft29 {font-size:29px !important;}
.ft30 {font-size:30px !important;}
.ft31 {font-size:31px !important;}
.ft32 {font-size:32px !important;}
.ft65 {font-size:65px !important; letter-spacing:-4px; line-height:60px;}
/* 체크박스 */

.Custom_chk { position:relative;}
.Custom_chk input[type="checkbox"]{display:none;}
.Custom_chk label {display:inline-block; position:relative; padding-left:25px; cursor:pointer; color:#353839;}
.Custom_chk label:before {position:absolute; left:0; top:0; font-size:14px; color:#353839; width:20px; height:20px; line-height:19px; border:1px solid #d1d1d1; clear:both; content:''; display:block; box-sizing:border-box;}
.Custom_chk input[type="checkbox"]:checked + label:before {content:'\2714';}


/* 라디오 버튼 */
.radio_box label{font-size:14px;color:#666}
.radio_box label + label{margin:0 0 0 24px;}


/* 체크 박스 */
.check_box label{font-size:14px;color:#666}
.check_box label + label{margin:0 0 0 24px;}

/* input type="file"*/
.fileBox{overflow:hidden;}
.fileBox .inputBox{float:left;}
.fileBox input[type="text"]{float:left;overflow:hidden;box-sizing:border-box;height:32px;padding:8px 10px;border:1px solid #d1d1d1;font-size:14px;line-height:1;letter-spacing:-1px;color:#999;background:#fafafa;}
.fileBox .fileBtn{float:left;margin-left:13px;}
.fileBox .fileBtn label{display:inline-block;width:125px;font-size:14px;line-height:32px;letter-spacing:-1px;color:#fff;background:#999;text-align:center;}
.fileBox .fileBtn input[type="file"]{visibility:hidden;width:0;height:0;padding:0;margin:0;}


/* 웹폰트 정의 */

.sintony {font-family:'Sintony', sans-serif;}
.roboto {font-family:'Roboto Condensed', sans-serif;}


/* itemList */


.itemList2 > * {width:50%; float:left;}
.itemList3 > * {width:33.3333%;float:left;}
.itemList4 > * {width:25%;float:left;}
.itemList5 > * {width:20%;float:left;}
.itemList6 > * {width:16.6666%;float:left;}
.itemList7 > * {width:14.285%;float:left;}
.itemList8 > * {width:12.5%;float:left;}
.itemList9 > * {width:11.1111%;float:left;}
.itemList10 > * {width:10%;float:left;}


.txt_black {color:#000 !important;}
.txt_white {color:#fff !important;}
.fw300 {font-weight:300 !important;}
.fw400 {font-weight:400 !important;}
.fw500 {font-weight:500 !important;}
.fw600 {font-weight:600 !important;}


h2 {line-height:1.05; font-size:60px; letter-spacing:-1px; margin-bottom:18px; }
